<span class="btn btn-link" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><small>もっと見る...</small></span>
<% post_comments.first(2).each do |post_comment| %>
  <% unless post_comment.id.nil? %>
    <li class="pt-1 border-bottom">
      <div class="d-flex">
        <div class="mr-2 mt-3">
          <%= attachment_image_tag post_comment.user, :profile_image, fallback: "user.png", class:"comment-image rounded-circle mr-2", size: "30x30" %>
        </div>
        <div class="comment-text">
          <small><%= link_to "@#{post_comment.user.name}", user_path(post_comment.user) %></small><br>
          <%= safe_join(post_comment.comment.split("\n"),tag(:br)) %><br>
          <p>
            <small><%= post_comment.created_at.strftime('%Y/%m/%d') %></small>
            <% if current_user == post_comment.user || current_user.admin? %>
              <%= link_to "", post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete, remote: true, class: "destroy-btn fas fa-trash" %>
            <% end %>
          </p>
        </div>
      </div>
    </li>
  <% end %>
<% end %>

<!-- コメント内容(3件目以降) ------------------------------------------------------------------>
<div class="collapse" id="collapseExample">
  <% post_comments.offset(2).each do |post_comment| %>
    <% unless post_comment.id.nil? %>
    <li class="pt-1 border-bottom">
      <div class="d-flex">
        <div class="mr-2 mt-3">
          <%= attachment_image_tag post_comment.user, :profile_image, fallback: "user.png", class:"comment-image rounded-circle mr-2", size: "30x30" %>
        </div>
        <div class="comment-text">
          <small><%= link_to "@#{post_comment.user.name}", user_path(post_comment.user) %></small><br>
          <%= post_comment.comment %><br>
          <p>
            <small><%= post_comment.created_at.strftime('%Y/%m/%d') %></small>
            <% if current_user == post_comment.user || current_user.admin? %>
              <%= link_to "", post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete, remote: true, class: "destroy-btn fas fa-trash" %>
            <% end %>
          </p>
        </div>
      </div>
    </li>
    <% end %>
  <% end %>
</div>