<table class="table table-borderless">
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(user) do %>
          <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: "100x100", class: "rounded-circle" %><br>
          <%= user.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>投稿：<%= user.posts.count %>件</td>
    </tr>
    <tr>
      <td>
				<% if user.introduction.present? %>
					<%= user.introduction %>
				<% else %>
					自己紹介がありません
				<% end %>
      </td>
    </tr>
    <% if current_user == user %>
    <tr>
      <td><%= link_to "お気に入り一覧", bookmark_user_path(user), class: "fas fa-bookmark" %></td>
    </tr>
    <tr>
    <% end %>
      <td>
        <%= link_to "フォロー:#{user.followings.count}", user_followings_path(user) %>
        <%= link_to "フォロワー:#{user.followers.count}", user_followers_path(user) %></td>
    </tr>
    <tr class="mt-3">
    <% if current_user != user %>
      <td>
        <% if current_user.following?(user) %>
          <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, "data-confirm" => "フォローを解除しますか？", class: "btn btn-info btn-sm fas fa-check-circle" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-outline-info btn-sm fas fa-check-circle" %>
        <% end %>
      </td>
    <% else %>
      <td>
        <%= link_to ' 編集', edit_user_path(user), class: "btn btn-outline-secondary btn-sm fas fa-user-cog" %>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>
