<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10  mx-2 mx-sm-auto text-center shadow rounded px-0 my-5">
      <h4>ログイン</h4>
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= f.label :"メールアドレス" %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>

          <tr>
            <td><%= f.label :"パスワード" %></td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
        </tbody>
      </table>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary btn-sm" %>
      </div>
      <% end %>

      <div class="mx-auto mt-2">
        <%= link_to "ゲストログイン(閲覧用)", users_guest_path, method: :post, class: 'fas fa-sign-in-alt btn btn-warning btn-sm' %>
      </div>

      <div class="my-1 py-2">
        <p class="small">
          登録がお済みでない方
          <%= render "devise/shared/links" %>
        </p>
      </div>

    </div>
  </div>
</div>
