<div class="container">
  <div class="row">
    <div class="col-md-12 mx-2 text-center shadow px-0 my-5">
      <h4 class="py-3">投稿編集ページ</h4>
      <%= form_with model: @post, local:true do |f| %>

        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>画像</td>
              <td><%= f.attachment_field :image %></td>
            </tr>

            <tr>
              <td>商品名</td>
              <td><%= f.text_field :goods_name, placeholder: "商品名" %></td>
            </tr>
            <tr>
              <td>タグ</td>
              <td><%= f.text_field :tag_name, placeholder: "カンマ(,)で区切り入力してください" %></td>
            </tr>
            <tr>
              <td>おすすめ度</td>
              <td id="evaluate_stars"></td>
            </tr>
            <tr>
              <td>説明文</td>
              <td><%= f.text_area :caption, placeholder: "使用した感想やおすすめポイント等、ご記入ください", size: "80x5" %></td>
            </tr>
          </tbody>
        </table>

        <div class="actions my-2">
          <%= f.submit "編集", class: "btn btn-secondary btn-sm" %>
        </div>
      <% end %>
      <div class="back my-2 mx-auto">
        <small><%= link_to "投稿ページに戻る", post_path(@post), class: "fas fa-undo" %></small>
      </div>
      <script>
        $('#evaluate_stars').raty({
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'post[rate]'
        });
      </script>
    </div>
  </div>
</div>