<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @user %>
    </div>
    <div class="col-md-5">
      <h5 class="text-dark bg-light text-center"><%= @post.goods_name %></h5>
      <div class="card shadow h-100">
        <%= attachment_image_tag @post, :image, class: "card-img-top h-50"%>
        <div class="card-body">
          <p class="card-text"><%= @post.caption%></p>
          <% if @post.user == current_user %>
            <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-secondary mr-2" %>
            <%= link_to '削除', post_path(@post), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <span id="like-btn-<%= @post.id %>"><%= render "likes/like-btn", post: @post %></span>
      <span><%= render "bookmarks/bookmark-btn", post: @post %></span>
      <p class="fas fa-comment ml-2"><%= @post.post_comments.count %></p>
      <h6>コメント一覧</h6>
      <%= render 'post_comments/comment', post_comment: @post_comment%>
      <%= render "post_comments/form", post: @post, post_comment: @post_comment %>

    </div>
  </div>
</div>