<!DOCTYPE html>
<html>
  <head>
    <title>Climber</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header class="sticky-top shadow-sm">
      <%= render 'layouts/header' %>
    </header>

    <main class="mt-5 mb-5">
      <%= render "posts/tagbar" %>
      <%= render "layouts/flash" %>
      <%= yield %>
    </main>

    <footer class="fixed-bottom text-center">
      <p class="my-2">© 2021 Climber <i class="fas fa-mountain"></i></p>
    </footer>
  </body>
</html>
